@use "../../util/helpers/sassHelpers.scss" as *;

form {
    display: flex;
    justify-content: center;

    div {
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 200px;
        max-width: 343px;
        flex: 1;

        svg {
            position: absolute;
            inset: 16.12px 12.12px;
        }
    }

    input {
        @include font-S-W-F($Px-15, $W-400, $InterV);
        @include border-and-radius(none, $Px-10);
        display: flex;
        flex: 1;
        justify-content: center;
        min-width: 200px;
        max-width: 343px;
        height: 48px;
        line-height: 16px;
        text-indent: 36px;
        outline: none;
        box-shadow: 0px 1px 2px -1px #c8cad1;

        &::placeholder {
            color: #a5a5a4;
        }
    }
}

.form-btn {
    display: none; //Change for desktop
    @include font-S-W-F($Px-15, $W-600, $InterV_Bold);
    @include border-and-radius(none, 6px);
    line-height: 20px;
    padding: 10px 16px;
    color: $white;
    background-color: $red;

}

.formClassName {
    padding-bottom: 36px;
}