@use "../../util/helpers/sassHelpers.scss" as *;

.error-container {
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;
    min-width: 250px;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color:#bb1e1e;

    div {
        @extend %flex-column;
        align-items: center;
        row-gap: 20px;
        padding: 30px;
        background-color: $white;
        border-radius: 10px;
    }
}