@use "../../util/helpers/sassHelpers.scss" as *;

.news-container {
    @include width-min-max(250px, 363px);
    position: relative;
    display: flex;
    align-self: center;
    padding: 0;
}

@media screen and (min-width: 794px) {
    .news-container {
        align-items: flex-start;
        max-width: 754px;
        align-self: center;
    }
}

@media screen and (min-width: 1200px) {
    .news-container {
        @include width-min-max(1098px, 1098px);
    }
}
