body {
    background-color: #F2F2F2;
}

button {
    cursor: pointer;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    padding: 0 10px;
}