@use "../../../../util/helpers/sassHelpers.scss" as *;

.widget-scroller_container {
    position: relative;
    @extend %flex-column;
    padding-right: 12px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: #c2c2c2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

@media screen and (min-width: 722px) {
    .widget-scroller_container::-webkit-scrollbar {
        width: 4px;
    }
}
